<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{#ifEq current 'page'}}{{curPage.title}}{{else}}{{curItem.title}}{{/ifEq}} - {{settings.site_title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">

  <link href="/assets/style.min.css" rel="stylesheet" />

  <script src="https://unpkg.com/unpoly@2.5.2/unpoly.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.2/unpoly.min.css">


</head>

<body>



  <header>
    <a href="/" up-follow up-target="#main" up-transition="cross-fade"><img src="/assets/logo.jpg" class="logo" /></a>
  </header>

  <nav class="text-center mb-5">

    <div up-nav>
      {{#each categories}}
        {{#ifEq slug 'index'}}
          <a href="/" up-follow up-transition="cross-fade">{{title}}</a>
      {{else}}
        <a href="/{{slug}}.html" up-follow up-transition="cross-fade">{{title}}</a>
        {{/ifEq}}
      {{/each}}
    </div>

  </nav>


  <div class="container" id="main" up-main>

    {{#ifEq current 'page'}}

      {{#ifEq curPage.type 'default'}}
        <div class="row">
          {{#each curPage.posts}}
            {{#ifEq this.category ../curPage.slug}}
              {{#ifNotEq this.draft true}}
                <div class="col-md-4">
                  {{#if main_image}}
                    <div class="wrap">
                      <a class="stage" href="/work/{{slug}}.html" up-follow up-transition="cross-fade" style="background-image: url(img/{{main_image}});"></a>
                    </div>
                  {{/if}}
                </div>
              {{/ifNotEq}}
            {{/ifEq}}
          {{/each}}
        </div>
      {{/ifEq}}

      {{#ifEq curPage.type 'post'}}
        <div class="row">
          {{#each curPage.posts}}
            {{#ifEq this.category ../curPage.slug}}

              <div class="text">
                <h1>{{title}}</h1>

                {{#if main_image}}<img src="img/{{main_image}}" class="img-fluid" />{{/if}}

                {{{body}}}


              </div>

            {{/ifEq}}
          {{/each}}
        </div>
      {{/ifEq}}

      {{else}}

        <div class="detail">
          <div class="text">
            <h1>{{curItem.title}}</h1>

            <p>{{curItem.subtitle}}</p>
          </div>

          {{#if curItem.youtube_id}}
            <div class="ratio ratio-16x9 mb-3">
              <iframe src="https://www.youtube.com/embed/{{curItem.youtube_id}}?rel=0" allowfullscreen></iframe>
            </div>
          {{/if}}

          {{#if curItem.gif}}
            <img src="/gif/{{curItem.gif}}" class="img-fluid" />
          {{/if}}

          {{#if curItem.gif_2}}
            <img src="/gif/{{curItem.gif_2}}" class="img-fluid" />
          {{/if}}

          {{#each curItem.gallery}}
            <img src="/img/{{this.filename}}" class="img-fluid" />
          {{/each}}

          <div class="text">
            <p>{{{curItem.body}}}</p>
          </div>


          <div class="row mt-5">
            {{#ifEq curPage.slug 'index'}}
              <a href="/" up-follow up-transition="cross-fade"><img src="/assets/grid.png" class="grid" /></a>
              {{else}}
                <a href="/{{curPage.slug}}.html" up-follow up-transition="cross-fade"><img src="/assets/grid.png" class="grid" /></a>
            {{/ifEq}}
          </div>

        </div>
    {{/ifEq}}



  </div>



</body>

</html>